body{
    margin: 0px;
}

header{
    width: 100%;
    height: 15vh;
    background-color: blue;
}

main{
    width: 100%;
    height: 85vh;
}

footer{
    width: 100%;
    height: 15vh;
    background-color: blue;
}