body{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    background-color: white;
}

main{
    width: 100%;
    background-color: rgba(199, 224, 239, 1);
    padding: 5vh;
    text-align: left;
    color:rgba(4, 112, 185, 1);
}

footer{
    width: 100%;
    height: 15vh;
    background-color: white;
    font-size: 1.5vh;
    
}

button{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2.5px solid black;
}
button:focus{
    outline:0;
}
button:active{
    box-shadow: 0 5px grey;
    transform: translateY(4px);
}

.harnessPhoto, #harnessPhoto{
width: 80%;
}

#title{
    padding-bottom: 10vh;
    color:rgba(4, 112, 185, 1);
}

#setup{
    background: url('../images/patient.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 50px 50px;
    background-color: #358ec7;
}

#dashboard{
    background: url('../images/dash.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 75px 75px;
    background-color: #358ec7;
    margin-top: 20%;
}

#userInt{
    background: url('../images/interface.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 75px 75px;
    background-color: #358ec7;
}

#sysFun{
    background: url('../images/parts.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 75px 75px;
    background-color: #358ec7;
}

#admin{
    background: url('../images/admins.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 75px 75px;
    background-color: #358ec7;
    margin-top: 20%;
    
}

#reference{
    background: url('../images/video.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 75px 75px;
    background-color: #358ec7;
}

#troubleshoot{
    background: url('../images/fitting.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 75px 75px;
    background-color: #358ec7;
}

#contact{
    background: url('../images/contact.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: 75px 75px;
    background-color: #358ec7;
}

.navbar-toggler{
    border: none;
}

p{
    padding-top: 5vh;
}

@media screen and (max-width: 992px) { 
    h3{
        font-size: 2vh;
    }
    .harnessPhoto, #harnessPhoto{
        display: none;
        visibility: hidden;
        }
        #admin{
            margin-top: initial;
            
        }
        #dashboard{
            margin-top: initial;   
        }

}
@media screen and (max-width: 480px) {
    #title{
        height: 10%;
        padding-bottom: initial;
    }
    .gorbelPhoto{
        width: 50%;
    }
    h3 {
        font-size: 2vh;
    }
    h1 {
        font-size: 3vh;
    }
.safeGaitLogo{
    width: 150px;
    }

    .harnessPhoto, #harnessPhoto{
        display: none;
        visibility: hidden;
    }

    #setup{
        background-size: 30px 30px;
    }
    
    #dashboard{
        background-size: 30px 30px;
        margin-top: initial;
    }
    
    #userInt{
        background-size: 30px 30px;
    }
    
    #sysFun{
        background-size: 30px 30px;
    }
    
    #admin{
        background-size: 30px 30px;
        margin-top: initial;
        
    }
    
    #reference{
        background-size: 30px 30px;
    }
    
    #troubleshoot{
        background-size: 30px 30px;
    }
    
    #contact{
        background-size: 30px 30px;
    }
    
    button{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2.5px solid black;
    }
    
}


#patientHarness {
    border-bottom: 2px solid #358ec7;
    color:rgba(4, 112, 185, 1);
    text-align: left;
}

.newPatientPhoto{
    width: 70vw;
}